@media screen and (max-width: 960px) {
  .slide {
    .slidePhone-1 {
      right: 10%;
    }
    .slideText-1 {
      left: 10%;
    }
  }
}

@media screen and (max-width: 900px) {
  .slide {
    .slidePhone-1 {
      bottom: 20%;
      max-height: 400px;
    }
    .slideText-1 {
      left: 10%;
      font-size: 2em;
    }
  }
}

@media screen and (max-width: 500px) {
  .slide {
    .slidePhone-1 {
      max-height: 500px;
      bottom: 3%;
      left: 0;
      right: 0;
      margin: auto;
    }
    .slideText-1 {
      left: 10%;
      font-size: 2em;
    }
    .slidePhone-2 {
      min-height: 600px;
      bottom: -22%;
    }
    .slideText-2 {
      top: 10%;
      font-size: 1.7em;
    }
  }
}
