@media screen and (max-width: 960px) {
  .slide {
    .slidePhone-1 {
      right: 10%;
    }
    .slideText-1 {
      left: 10%;
    }
  }
}

@media screen and (max-width: 900px) {
  .slide {
    .slidePhone {
      bottom: 20%;
      max-height: 400px;
    }
    .slideText {
      left: 10%;
      font-size: 2em;
    }
  }
}

@media screen and (max-width: 500px) {
  .slide {
    .slidePhone {
      max-height: 500px;
      bottom: 3%;
      left: 0;
      right: 0;
      margin: auto;
    }
    .slideText {
      left: 10%;
      font-size: 2em;
    }
  }
}
