.agile {
  &__dots {
    bottom: 0;
    display: block;
    left: 10px;
    position: absolute;
    width: 30px;
  }
  &__dot {
    margin-bottom: 10px;
    button {
      background-color: hsla(0,0%,100%,.2);
      border: 1px solid #9E9E9E;
      cursor: pointer;
      display: block;
      font-size: 0;
      line-height: 0;
      transition-duration: .3s;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      padding: 0;
      margin: auto;
      &:hover {
        background-color: #616161;
      }
    }
    &--current {
      button {
        background-color: #424242;
      }
    }
  }
}

.slide {
  background: {
      position: center;
      size: cover;
  }
  height: 90vh;
  position: relative;
  .slidePhone {
    max-height: 573px;
    position: absolute;
    &-1 {
      right: 20%;
      bottom: 5%;
    }
    &-2 {
      left: 0;
      bottom: -30%;
      right: 0;
      margin: auto;
      min-height: 700px;
    }
  }
  .slideTextMobile {
    position: absolute;
    font-size: 2em;
    font-weight: 500;
    text-transform: uppercase;
    left: 0;
    right: 0;
    margin: auto;
    padding-left: 1em;
    line-height: 1em;
    top: 5%;
    span {
      font-weight: 200;
      font-size: 0.5em;
    }
  }
  &Text {
    position: absolute;
    font-size: 2.5em;
    font-weight: 500;
    line-height: 1.3em;
    text-transform: uppercase;
    &-1 {
      bottom: 40%;
      left: 20%;
    }
    &-2 {
      color: #fff;
      font-size: 2.2em;
      line-height: 1em;
      top: 10%;
      right: 0;
      left: 0;
      margin: auto;
      text-align: center;
      span {
        font-weight: 200;
        font-size: 0.9em;
      }
    }
    span {
      font-weight: 200;
      font-size: 0.9em;
    }
  }
  &--1 {
    background: linear-gradient(to bottom right, #EF9A9A, #FFE082);
  }
  &--2 {
    background: linear-gradient(to bottom right, #00b09b, #96c93d);
  }
}
